<!DOCTYPE html>
<html>
 
<head>
    <title>
        
    </title>
    <meta name="viewport"
        content="width=device-width, initial-scale=1">
</head>
 
<body>
     
    <!-- Navbar items -->
    <div id="navlist">
        <a href="#">Name</a>
        <a href="#">Year</a>
        <a href="#">Origin</a>
        <a href="#">mog</a>
        
         
        <!-- search bar right align -->
        <div class="search">
            <form action="#">
                <input type="text"
                    placeholder=" Search Car database"
                    name="search">
                <button>
                    <i class="fa fa-search"
                        style="font-size: 18px;">
                    </i>
                </button>
            </form>
        </div>
    </div>
    
   
</body>
 
</html> 
